@page
@model WebApplications.Pages.Network.IndexModel

@{ ViewData["Title"] = "Index"; }

<h1>Message Posts</h1>
<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find posts by name:
            <input type="text" name="userName" value="@Model.currentSearch" />
            <input type="submit" value="Search Author" class="btn btn-info" />
            <a class="btn btn-danger" asp-action="Index"><i class="bi bi-x-circle-fill"></i> Clear Search</a>
        </p>
    </div>
</form>
<p>
    <a class="btn btn-primary float-right" asp-page="Create"><i class="bi bi-plus-circle-fill"></i> Add Message</a>
    <a class="btn btn-secondary float-right" asp-page="./Photo/Index">See Photos</a>
</p>
<br />
<br />
<div class="container col-md-8 align-self-center">
    @foreach (var item in Model.MessagePost)
    {
<div class="card bg-white" style="font-size: 2.5em; padding: 2%;">
    <div id="@item.PostId" class="card-body">
        <a asp-page="./Delete" asp-route-id="@item.PostId" class="float-right btn btn-danger"><i class="bi bi-x-circle-fill"></i> Delete Post</a>
        <h6 class="card-subtitle mb-2 text-info"><i class="bi bi-person-circle text-dark"></i> @Html.DisplayFor(modelItem => item.Author)</h6>
        <p style="font-size: 0.95em;" class="card-text">@Html.DisplayFor(modelItem => item.Message)</p>
        <div class="mt-4">
            <h6 style="font-size: 0.4em; float: left;" class="card-subtitle mb-2 text-muted">@item.FormatElapsedTime()</h6>
            <h5 style="font-size: 0.4em; float: right;" class="card-subtitle mb-2 text-muted">
                @Html.DisplayFor(modelItem => item.Likes)
                <a title="Like" asp-page-handler="Like" asp-route-id="@item.PostId" class="btn btn-outline-success"><i class="bi bi-suit-heart-fill"></i></a>
                <a title="UnLike" asp-page-handler="UnLike" asp-route-id="@item.PostId" class="btn btn-outline-danger"><i class="bi bi-heartbreak"></i></a>
            </h5>
        </div>
    </div>
</div>
                <div class="card bg-light" style="padding: 2%;">
                    <h3 class="card-title">Comments</h3>
                    @foreach (Comment comment in Model.Comment)
                    {
                        if (comment.PostId == item.PostId)
                        {
    <p>@comment.Text</p>}
}

                    <form method="post">
                        <input asp-for="@Model.Text" style="border-radius: 0.5em; border-width:0.1em; padding: 0.9%; width: 90%;" type="text" placeholder="Add a comment to this post" required />
                        <input asp-route-id="@item.PostId" type="submit" class="btn btn-primary" value="Add" />
                    </form>
                </div>
                                <br />}
</div>